body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

header {
  margin-bottom: 40px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

header nav a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  border-right: 1px solid #000;
  margin-right: 20px;
  padding-right: 20px;
}

header nav a:hover,
header nav a:active {
  color: pink;
}

.pipes {
  margin: 32px 0px;
  padding: 16px;
  background-color: #eee;
  border: 1px solid #ccc;
}